* {
    font-family: monospace;
}
h1 {
    font-size: 50px;
    color: #0004ff;
    letter-spacing: 0.35cm;
}
h2 {
    color: #1a85ef;
    font-size: 30px;
}
h3 {
    text-align: left;
}
body {
    background-color: #9A94BC;
    line-height: 0.75cm;
}
div#intro {
    border: 3px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}
div#sitemap {
    border: 3px solid black;
    border-top: 1px solid black;
    float: none;
    height: auto;
    clear: none;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}
div#blog {
    border: 3px solid black;
    border-top: 1px solid black;
    text-align: center;
    padding-inline: 5px;
    width: auto;
    border-bottom: 2px solid black;
    color: rgb(22, 60, 122);
}
div#Musiclikey {
    border: 3px solid black;
    border-top: 1px solid black;
    padding: 10px;
    text-align: center;
}
div#Musiclikey p {
    text-align: left;
    color:#0004ff;
}
div#Musiclikey h3 {
    color: #001e3d
}
#recommend {
    width: auto;
    height: auto;
    padding-left: 10px;
    padding-right: 10px
}
#listen {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
}
#rant {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
}
#disclaimer {
    font-size: large;
    color:rgb(100, 8, 114)
}
#descriptionmusic {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    font-size: large;
    color: #0963bd;
}
a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: green;
    text-decoration: underline;
}
